<%- include("partials/head.ejs")%>
    <%- include("partials/nav.ejs")%>

        <main>

            <section class="form-productos">
                <h2>CONSULTAR PRODUCTO POR ID:  </h2>

                <form id="getProduct-formulario">
                    <label for="idProd">Id del producto</label>
                    <input type="number" name="id" id="idProd" required>

                    <input type="submit" value="Consultar producto">
                </form>

            </section>

            <section class="secccion-productos">
               

                <div id="contenedor-productos">

                </div>

            </section>
            
        </main>


        <script src="/js/get.js"> </script>


        <%- include("partials/footer.ejs")%>