<%- include("partials/head.ejs")%>
    <%- include("partials/nav.ejs")%>

        <main>

            <section class="form-productos">
                <h2>Crear producto</h2>

                <form id="postProduct-form" class="form-alta">
                    <label for="nameProd">Nombre</label>
                    <input type="text" name="nombre" id="nameProd" required>

                    <label for="imageProd">Imagen</label>
                    <input type="text" name="imagen" id="imageProd" required>

                    <label for="categoryProd">Categoria</label>
                    <select name="categoria" id="categoryProd" required>
                        <option value="Celulares">Celulares</option>
                        <option value="Computadoras">Computadoras</option>
                    </select>

                    <label for="priceProd">Precio</label>
                    <input type="number" name="precio" id="priceProd" required>

                    <div>
                        <input type="submit"  class="input-submit" value="Crear producto">
                    </div>
                </form>



                
            <hr>

            <!-- Formulario de creacion de usuarios admin -->
            <div class="form-container">
                <h2>Crear usuarios admin</h2>

                <form id="postUser-form" class="form-alta">
    
                    <!-- Nombre de usuario -->
                    <label for="nameUser">Nombre</label>
                    <input type="text" name="nombre" id="nameUser" required>
    
                    <!-- Email de usuario -->
                    <label for="emailUser">Email</label>
                    <input type="email" name="email" id="emailUser" required>
    
                    <!-- Password de usuario -->
                    <label for="passwordUser">Password</label>
                    <input type="password" name="contraseña" id="passwordUser" required>
                    
                    <div>
                        <input type="submit" value="Crear usuario">
                    </div>
    
                </form>

            </div>


            </section>

            <section class="secccion-productos">
                <div id="contenedor-productos">

                </div>
            </section>

        </main>


        <script src="/js/post.js"> </script>


        <%- include("partials/footer.ejs")%>