<header>
    <div class="logo">
        <a href="/dashboard/index" class="logo-container">
            <img src="/assets/img/logo.png" alt="logo js-tecno">
        </a>
    </div>



    <ul class="enlaces">
        <li class="enlace">
            <a href="/dashboard/index">
                <span>PRODUCTOS</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/consultar">
                <span>CONSULTAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/crear">
                <span>AÑADIR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/modificar">
                <span>MODIFICAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/eliminar">
                <span>ELIMINAR</span>
            </a>
        </li>
    </ul>

        <div class="contenedor-nombres">
        <p>SANTIAGO PÉREZ</p>
        <p>JOAQUIN JUAÑUK</p>
    </div>

    
</header>