 <header>
        <div class="logo">
            <a href="index.html" class="logo-container">
                <img src="/assets/img/logo.png" alt="logo pumpernic">
            </a>
        </div>

        <ul class="enlaces">
            <li class="enlace">
                <a href="/dashboard/index">
                    <span>PRODUCTOS</span>
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/consultar">
                    <span>CONSULTAR</span>
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/crear">
                    <span>AÑADIR</span>
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/modificar">
                    <span>MODIFICAR</span>
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/eliminar">
                    <span>ELIMINAR</span>
                </a>
            </li>
        </ul>
    </header>